
body {
  background-color: White;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;

}
a {text-decoration: none;
  color:#8A972B;
 }


header {
  position: fixed;
  background-color: #8A972B;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  z-index: 10;
  opacity: 0.5;
  color: #F0DC93;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav {
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  display: inline-block;

}


ul {
  list-style-type: none;
  float: right;
  margin: 12px;

}
li {
  float: left;
}

li a {
  color: #F0DC93;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

li a:hover {
  background-color: #F0DC93;
  color: #8A972B;
}
.image {
  position: relative;
  height: auto;
  width: auto;
}

h2 {
  position: absolute;
  top: 10%;
  width: 50%;
  color: #8A972B;
  padding: 5%;
  font-size: XX-Large;
  font-family: 'Josefin Sans', sans-serif;

}
.sub {
  font-size: medium;
  text-indent: 10px;
  margin-left:20px;
}

.blogpost{
  margin:100px;

}


h3 {Font-size: 30pt;
    color:#8A972B;

}

time {
  font-size: 10pt;
  color: #CAC0B7;
  margin-left: 2em;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16pt;
}

div.form{
  margin: 100px;
  color: #8A972B;

}

.button {
    background-color: #8A972B;
    border: none;
    color: #F0DC93;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
