{% load staticfiles %}
<!doctype html>
<html>
<head>
  <title>{% block title %} My Project {% endblock title%}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      {%block h1%}<h1>Rose & Bramble </h1>{%endblock%}
      <ul>
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'resources' %}">Resources</a></li>
      </ul>
    </nav>
  </header>
    {% block content%}{% endblock content %}
    {% block footer %}{% endblock footer%}

  </body>
  </html>
